input {
    height: 70px;
    width: 100%;
    border-color: #000434;
    text-align: right;
    color: #000434;
    background-color: transparent;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
}
::-webkit-input-placeholder {
    color: #000434;
    font-weight: bold;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}